.topNav {
  background: black !important;
  margin-bottom: 40px;
}
.logo {
  color: #fff !important;
  font-family: cursive;
  font-weight: 700;
}
.logInButton {
  border: 1px solid #fff;
  margin-right: 10px;
  color: #fff;
}
.signUpButton {
  border: 1px solid #ee4e54;
  color: #fff;
}
#footer {
  background: #000;
}
.firstLine {
  color: #fff;
}
.secondLine {
  color: #fff;
}
.thirdLine {
  color: #fff;
}
.lowerFooter {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-family: cursive;
}
.upperFooter {
  margin-bottom: 20px;
}
.post-preview a:hover {
  text-decoration: none;
  color: black;
}

.post-preview a {
  color: green;
}
