.topNav {
  background: black !important;
  margin-bottom: 40px;
}
.logo {
  color: #fff !important;
  font-family: cursive;
  font-weight: 700;
}
.logInButton {
  border: 1px solid #fff;
  margin-right: 10px;
  color: #fff;
}

.logInButton:hover {
  border: 1px solid #fff;
  margin-right: 10px;
  color: #fff;
  border-radius: 10px;
}
.signUpButton {
  border: 1px solid #ee4e54;
  color: #fff;
}
.signUpButton:hover {
  border: 1px solid #ee4e54;
  color: #fff;
  border-radius: 10px;
}
#footer {
  background: #000;
}
.firstLine {
  color: #fff;
}
.secondLine {
  color: #fff;
}
.thirdLine {
  color: #fff;
}
.lowerFooter {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-family: cursive;
}
.upperFooter {
  margin-bottom: 20px;
}
.post-preview a:hover {
  text-decoration: none;
  color: black;
}

.post-preview a {
  color: green;
}
.imgMain {
  width: 100%;
  height: 20% !important;
  background: green;
  font-size: 0;
}
.imgMain img {
  height: 100% !important;
  width: 100%;
}
.spec {
  padding-left: 0px;
  padding-right: 0px;
}
.topNavSpec {
  background: black !important;
  margin-bottom: -20px;
}
.post_title {
  font-size: 20px;
  font-family: monospace;
  margin-top: 20px;
}
.comment_name {
  font-size: 15px;
  font-family: monospace;
  margin-top: 70px;
  font-weight: bold;
}
hr {
  border-top: 1px solid black;
}
.comment_heading {
  font-size: 30px;
  font-family: monospace;
  margin-top: 20px;
}
.post-subtitle {
  font-size: 14px;
}
.dropdown-menu {
  min-width: 15rem;
}
.optionLogin {
  margin-top: 30px;
  margin-left: 18px;
}
.optionLogin p a:hover {
  color: #28baa2;
  text-decoration: none;
}
.optionSignUp {
  margin-top: 30px;
  margin-left: 1px;
}
.optionSignUp p a:hover {
  color: #28baa2;
  text-decoration: none;
}
